body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 0.9em;
  padding: 0px;
  margin: 0px;
  background-color: #111;
  color: #EEE;
  height: 416px !important;
}
.kanal { 
  background-color: #222; 
  height: 60px; 
  padding: 15px;
  border-bottom: 1px solid #111; 
  -webkit-transition: background-color 0.2s linear;
  font-size: 1.1em;
}
.kanal img { 
  float: right; 
}
.kanal p {
  margin: 0;
  padding: -3px 0px 0px 0px;
}
.just_nu { 
  font-weight: bold; 
  display: block; 
}
#p1.lyssna { 
  background-color: #32C8D7;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(1, rgb(40,153,161)),
      color-stop(0.5, rgb(50,200,214)),
      color-stop(0, rgb(40,153,161))
  );  
}
#p2.lyssna { 
  background-color: #FF5A00; 
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(1, rgb(204,68,0)),
      color-stop(0.5, rgb(255,89,0)),
      color-stop(0, rgb(204,68,0))
  );
}
#p3.lyssna { 
  background-color: #00C88C; 
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(1, rgb(0,148,101)),
      color-stop(0.5, rgb(0,199,139)),
      color-stop(0, rgb(0,148,101))
  );
}
#p4.lyssna { 
  background-color: #C31EAA;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(1, rgb(143,23,127)),
      color-stop(0.5, rgb(194,31,170)),
      color-stop(0, rgb(143,23,127))
  );
}
a {
  color: #FFF;
}
#bottombar {
  height: 32px;
}
#ap {
  float: left;
  position: relative;
  top: 21px;
}
#links {
  float: right;
  padding: 8px;
  position: relative;
  top: 9px;
}
#settings {
  display: none;
}
.rrect {
  margin: 7px;
  padding: 7px;
  border: 1px solid #222;
  -webkit-border-radius: 6px;
  background-color: #202020;
}
#local_station { float: right; }
small { font-size: 0.75em; }
.nasta_program { font-weight: bold; }
